@use '../../scss/' as * ;

.home {
    max-width: 100%;
}

.home__wrapper-slider {
    overflow: hidden;
    position: relative;
    height: 600px;
}
.home__slider {
    height: 100%;
    width: 100%;
    display: flex;
}

.home__slider-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.home__slider-img.show {
    display: block;
}

.home_btn {
    position: absolute;
   top:50%;
   transform: translateY(-50%);
   padding: 10px;
   font-size: 4rem;
   border: none;
   outline: none;
   background: none;
   cursor: pointer;
}

.home_btn-next {
    right: 20px;
}
.home_btn-prev {
    left: 20px;
}
.home__slider-cirles {
    position: absolute;
    bottom: 30px;
    left:50%;
    transform: translateX(-50%);

}
.home__slider-cirle {
    border-radius: 50%;
    margin: 15px;
    background-color: #fed700;
    padding: 0px 10px;
    cursor: pointer;
}

.home__slider-cirle.show {
    background-color: red;
}

.home__features {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 214px;
    background-color: #f0f0f0;

}


.home__feature {
    width: 400px;
   max-width: 100%;
   margin: 0px 50px;
   text-align: center;
   background-color: #f0f0f0;
}

.home__feature-icon {
    font-size: 5rem;
}

.home__feature-title {
    margin-top: 6px;
    color:$primary;
    font-size: 2.5rem;
}

.home__feature-persent {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 1.5rem;
}

.home__feature-description {
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/// home products

.home-products {
    max-width: 100%;
    margin: auto 10%;
    margin-top: 40px;
}


.home-products__title {
    position: relative;
    height: 100px;
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    &::before {
        position: absolute;
        top:45%;
        transform: translateY(-50%);
        left:0;
        content: attr(data-mark);
         z-index: -1;
        font-size: 9rem;
        opacity: 0.05;
        font-weight: bold;
    }
    & a {
        font-size: 2.9rem;
        font-weight: bold;
        text-shadow: 3px 3px #a21818;
        transition: color 0.4s linear;
        &:hover {
                color:$primary;
        }
    }
}

.home-products__title--discount {
    margin-top: 18px;
}

.home-to__page-product {
    margin: 10px 43%;
    padding: 10px 16px;
    outline: none;
    border: none;
    background: $primary;
    color:$text-black;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
    border: 1px solid transparent;
    margin-top: 20px;
    &:hover {
        background-color: $white;
        border: 1px solid red;

    }

}


@include tablet {
    .home__feature {
        margin: 0;
        min-height: 153px;
         width: 30%;
    }

    .home-to__page-product {
        margin: 10px 30%;
        padding: 13px 16px;
        font-size: 2rem;
    }
}
@include mobile {
    .home__features {
        flex-direction: column;
    }
    .home__feature  {
        width: 100%;
        margin: 0;
        padding: 26px 0px;
        display: block; 
    }

    .home-to__page-product {
        margin: 10px 20%;
        font-size: 1.8rem;
    }

    .home-products__title {
        width: 100%;
        &::before {
            font-size: 7rem;
        }
    }
}