@use "../../scss/" as *;


.product-page {
  margin: auto 10%;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: flex-start;

  & svg {
    margin:0px 10px;
  }

  & span:last-child {
    color:red;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & span:last-child a{
    color:red;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main-product {
  display: flex;
  justify-content: space-between;
  margin: auto 10%;

  & .product__price-before {
    text-decoration: line-through;
    opacity: 0.6;
  }
}

.main-product__left {
  flex: 1;
}

.main-product__right {
  width: 350px;
  margin-left: 10px;
}

.product__new-main {
  display: none;
}

.list-products__main {
  grid-template-columns: repeat(4, 1fr);
}

.main-product__btn-more {
  margin-top: 30px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  & button {
    min-width: 40px;
    height: 100%;
    outline: none;
    border: none;
    background: $primary;
    font-size: 2.4rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    padding: 20px 10px;
    transition: all 0.3s ease-in-out;
    margin: 0px 4px;
    &:hover {
      background-color: transparent;
      border: 1px solid burlywood;
      color: $primary;
    }
  }
}

.main-product__right__img {
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 15px;
}

.main-product__right__content {
  margin-top: 15px;
}

.main-product__right__heading {
  margin-top: 30px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  position: relative;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    top: -15px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: gray;
  }
}

.main-product__right-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  & img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
  }
}

.main-product__right__description {
  flex: 1;
  & p:first-child {
    margin-bottom: 6px;
    font-size: 1.6rem;
    font-weight: 600;
  }
  & p:last-child {
    font-size: 1.2rem;
    font-weight: 200;
  }
}
.main-product__right__content--product {
  min-height: 70px;
  overflow-y: auto;
}

.main-product__right__description__star {
  font-size: 1.8rem;
  color: rgba(19, 136, 52, 0.552);
}

.main-product__right__description {
  & p:nth-child(3) {
    font-size: 1.7rem;
    color: red;
    font-weight: 600;
  }
}

.main-product__right-block--product {
  cursor: pointer;
}

.main-product__right-block--list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
   
}

.main-product__right__link {
  display: inline-block;
  font-size: 1.5rem;
  padding: 5px;
  width: 90%;
  color: $text-white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  background-color: gray;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
  &:nth-child(2),&:nth-child(3),&:nth-child(5),&:nth-child(6) {
    margin-left: 5px;
  }
}

@include tablet {
  .main-product {
    margin: auto 4px;
  }
  .list-products__main {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
  }
  .main-product__right {
    display: none;
  }
}
@include mobile {
  .list-products__main {
    grid-template-columns: repeat(2, 1fr);
  }
}
