@use "../../scss/" as *;

.check-out {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 100%;
}

#form-check-out {
  display: flex;
  flex-direction: column;
}
.check-out__imformation {
  flex: 1;
  background-color: #efe4d3;
  padding: 60px 75px 100px 250px;
}
.form-group-name-number {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-group:nth-child(1) {
  margin-right: 30px;
  flex: 3;
}

.form-group:nth-child(2) {
  float: right;
  flex: 1.4;
}

.form-group {
  flex: 1;
  height: 43px;
}

.form-control {
  width: 100%;
  height: 43px;
  padding: 4px 10px;
  margin: 10px 0px;
  outline: none;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.check-out__logo {
  height: 80px;
  width: 270px;
  object-fit: cover;
  cursor: pointer;
}

.form-group {
  width: 100%;
}

.form-control {
  width: 100%;
}

.check-out__title {
  font-size: 2.2rem;
  margin: 16px 0px;
  font-weight: 200;
}

.check-out__back-cart {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 200;
  display: inline-flex;
  align-items: center;
  color: #338dbc;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.2s;
  margin-left: 30px;
  &:hover {
    margin-left: 0px;
  }
}

.check-out__back-prev {
  color: #338dbc;
}

.check-out__submit {
  display: inline-flex;
  float: right;
  width: 300px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background: #338dbc;
  color: white;
  font-weight: 500;
  outline: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background: #338cbcce;
  }
}

.check-out__footer {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 50px;
}

.check-out__footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  & li {
    width: 33%;
    margin: 4px 0px;

    transition: all 0.4s ease-in-out;

    &:hover {
      color: #338dbc;
      cursor: pointer;
    }
  }
}

.check-out__details {
  flex: 1;
  background-color: #fafafa;
  padding: 100px 250px 100px 75px;
}

.check-out__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.check-out__item__img {
  width: 64.4px;
  height: 64.4px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-right: 10px;
  position: relative;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  & .check-out__item__amount {
    position: absolute;
    top: -10px;
    right: -4px;
    background-color: gray;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: 200;
    color: $text-white;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.check-out__item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.check-out__item__info-title {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 8px;
}

.check-out__item__info-size {
  width: 100px;
  height: 20px;
  font-size: 1.2rem;
  background-color: #338dbc;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.check-out__item__price {
  flex: 1;
  text-align: right;
  font-size: 2.2rem;
  & h5 {
    font-weight: 200;
    margin-top: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.check-out__total {
  margin-top: 0px;
  border-top: 1px solid gray;
  padding: 20px 0px;
  & p:first-child {
    margin-bottom: 10px;
  }

  & p {
    display: flex;
    justify-content: space-between;
    display: block;
    padding: 0px 4px;
    & span:nth-child(2) {
      float: right;
    }
  }

  .check-out__total-price {
    font-size: 2rem;
    font-weight: 700;
    color: black;
  }
}



@include tablet {
    .check-out__details {
        display: none;
    }
    .check-out__imformation {
       padding: 40px 100px 60px 100px;
    }
}

@include mobile {
    .form-group-name-number {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .check-out__back-cart {
        display: none;
    }
    .check-out__submit {
        margin-top: 10px;
    }
    .check-out__footer__list {
        align-items: unset;
    }
}