$overtablet:1240px;
$tablet:1000px;
$mobile:600px;
$primary : #fed700;
$color-name:#5b5b5b;
$font-size-name :1.7rem;
$color-name-hover : #fed700;
$white:white;
$black:#000;
$text-black : #000;
$text-white : white;
$text-gray : #222222;


//Header

$hight-header :80px;
