@use '../../scss/' as * ;

.modal-signup {
    position: fixed;
    z-index: 999;
    background-color: rgba(0,0,0,0.6);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-signup {
    width: 400px;
    min-height: 200px;
    border-radius: 20px;
    box-shadow: 7px 11px 10000px rgb(0 0 0 / 70%);
    background: linear-gradient(44deg , rgba(0,0,0,0.3) ,rgba(0,0,0,0.5) ),url('https://images.unsplash.com/photo-1598760122223-45f0f18a1bbd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sub-signup__top {
    height: 50%;
    width: 100%;
    background-color: rgba(0, 128, 0, 0.581);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p {
        color:$text-white;
        font-size: 2.4rem;
        margin-bottom: 10px;
        display: block;
        text-align: center;
        width: 100%;
        font-weight: 900;
        text-shadow: 1px 4px 1px rgba(0, 128, 0, 0.581);
       
    }

    .sub-signup__top__icon {
        font-size: 4.7rem;
    }
}

.sub-signup__bottom {
    height: 100%;
}

.sub-signup__bottom__continue {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    padding: 5px 10px;
    border-radius: 20px;
    color:black;
    font-size: 2.3rem;
    font-weight: 900;
    outline: none;
    border: none;
    border: 1px solid gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
}